<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="~{layout::base_header(${title})}">
</head>
<body>
<div class="container">
    <h1>New Store</h1>
    <form th:action="@{/stores}" th:method="post">
        <div class="form-group">
            <label class="control-label">店舗名</label>
            <input class="form-control" name="name" type="text" required/>
        </div>
        <div class="form-group">
            <label class="control-label">プリンタIP</label>
            <input class="form-control" name="printerUri" type="text"
                   placeholder="例: 192.168.1.100"
                   pattern="^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
                   title="有効なIPアドレスを入力してください"/>
        </div>
        <button class="btn btn-outline-primary" type="submit">作成</button>
    </form>
    <div class="pull-right">
        <a class="btn btn-outline-warning" href="/stores">一覧画面へ</a>
    </div>
</div>
<script src="/validation.js"></script>
</body>
</html>