<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="~{layout::base_header(${title})}">
</head>
<body>
<table id="content" class="table table-bordered table-hover table-lg">
    <thead class="thead-light">
    <tr>
        <th>ID</th>
        <th>商品名</th>
        <th>バーコード</th>
        <th>値段</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${data}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.barcode}"></td>
        <td th:text="${item.price}"></td>
        <!--<td><a class="btn btn-default btn-xs" th:href="@{/items/{id}/edit(id=*{id})}">編集</a></td>-->
    </tr>
    </tbody>
</table>
<footer>
    <a class="btn btn-outline-dark" role="button" href="/items/new">新規作成</a>
    <a class="btn btn-outline-primary" role="button" href="/api/item/barcode-pdf" target="_blank">バーコードPDF出力</a>
    <a class="btn btn-outline-warning" role="button" href="/">Back</a>
</footer>
</body>
</html>